.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .myPhoto{
    width: 300px;
    height: auto;
    border-color: #6699CC;
    border-style: solid;
}
.article1 {
    padding: 10px;
    margin: 20px;
    background: #F0F8FF;
    font-size: 18px;
  }
  .bodyStyle{
    margin-left: 280px;
    margin-right: 280px;
    border-color: #004792;
    border-style: solid;
    background-color: #F0F8FF;

}
.section2 {
    display: flex;
    text-align: center;
  }
  .head {
    font-size: 25px;
  }
  .montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .margin{
    margin-left: 40px;
  }
  .size{
    font-size: 15px;
    margin-right:5px ;
  }
  .Images2{
    width: 300px;
    height: auto;
}
.image-row2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.flowerPhoto{
    width:50px;
    height: auto;
}
.social__icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }
  .social__icon--link{
    color: darkblue;
    font-size: 24px;
  }
  .social__media{
    max-width: 1000px;
    width: 100%;
  }
  .social__media--wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }
  .website__right{
    color: darkblue;
    font-size: 20px;
  }
.world{
    width: 30px;
    height: auto;
}
.skillStyle{
    display: flex;
    justify-content: space-between;

}
.bar{ 
	background-color: #353b48;
	display: block;
	height: 2px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 0 10px #2187e7b3;
}
.bar span{ 
	height: 2px;
	float: left;
	background-color: #2187e7;
}
.kyrgyz{ 
	width: 100%;
	animation: kyrgyz 2s;
}
@keyframes kyrgyz{ 
	0%{
		width: 0%;
	}

	100%{
		width: 100%;
	}
}
.skills{ 
	width: 500px;
	margin-left: 40px;
	color: black;
}

.skills li{ 
	margin: 20px 0;
}

.russian{ 
	width: 100%;
	animation: russian 2s;
}
@keyframes russian{ 
	0%{
		width: 0%;
	}

	100%{
		width: 100%;
	}
}

.english{ 
	width: 80%;
	animation: english 2s;
}
@keyframes english{ 
	0%{
		width: 0%;
	}

	100%{
		width: 80%;
	}
}

.korean{ 
	width: 40%;
	animation: korean 2s;
}
@keyframes korean{ 
	0%{
		width: 0%;
	}

	100%{
		width: 40%;
	}
}

.french{ 
	width: 50%;
	animation: french 2s;
}
@keyframes french{ 
	0%{
		width: 0%;
	}

	100%{
		width: 50%;
	}
}
.flowers{
    width: 150px;
    height: auto;
    margin-right: 40px;
}